.header {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header p{
    color: #3F6443;
    margin-left: 4vh;
    font-weight: bold;
    font-size: 3vh;
    cursor: pointer;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #7DC284;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    bottom: 0;
    position: fixed;
}

.line{
    border-bottom: solid;
    border-color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 2vh;
}

.footlists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    font-size: small;
    gap: 10vh;
    margin-left: 3%;
}

.lista{
    cursor: pointer;
}

.lista:hover{
    color: white;
}

.footcontent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footcontent p{
    color: #3F6443;
    font-weight: bold;
    font-size: 4vh;
    margin-right: 15vh;
    text-align: center;
}

@media (max-width: 500px) {
    .footcontent {
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
        margin-left: 0; 
    }
}

/* The switch - adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 12vh;
    height: 5.1vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7DC284;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 3vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 4vh;
    width: 4vh;
    left: 0.6vh;
    bottom: 0.6vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(6vh);
    -ms-transform: translateX(6vh);
    transform: translateX(6.7vh);
}

.slider.round {
    border-radius: 3vh;
}

.slider.round:before {
    border-radius: 50%;
}