.header {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: #3F6443;
    margin-left: 4vh;
    font-weight: bold;
    font-size: 3vh;
    cursor: pointer;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: -12vh;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
    body {
        background-position-y: 2vh;
        background-position: center; 
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body { 
        background-position-y: -13vh;
        background-position: center;
    }
}

.background {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-top: -100px ;
}

.backImage {
    width: 100%;
    height: auto;
    z-index: -1; 
}

.top {
    position: absolute;
    margin-top: 5%;
}

.texto {
    margin-left: 3%;
    width: 45%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.action {
    background-color: #3F6443;
    height: 5vh;
    width: 23vh;
    border-radius: 1.5vh;
    border: 0.2px solid white;
    align-content: center;
    margin-top: 8%;
    cursor: pointer;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 767px) {
    .texto {
        margin-top: 30%; 
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .action {
        margin-top: 20%; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .texto {
        margin-top: 16%; 
        width: 60%; 
        margin-left: auto; 
        margin-right: auto;
    }

    .action {
        margin-top: 8%; 
        margin-left: auto; 
        margin-right: auto; 
    }
}

@media (min-width: 1024px) {
    .texto {
        margin-top: 14%; 
        width: 45%; 
        margin-left: 3%; 
    }

    .action {
        margin-top: 8%; 
        margin-left: 35%; 
    }
}

.action:hover {
    background-color: #B2E1B7;
    box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.75);
    text-decoration: none; 
    color: #3F6443;
}

.action:hover p {
    color: #3F6443;
}

.action p {
    text-align: center;
    color: white;
}

.greenbit {
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: -800px;
}

/* Footer starts */
footer {
    background-color: #7DC284;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.footerHome {
    margin-top: -800px;
    position: absolute;
}

.line {
    border-bottom: solid;
    border-color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 2vh;
}

.footlists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    font-size: small;
    gap: 10vh;
    margin-left: 3%;
    margin-top: 1vh;
}

.lista {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    height: 3vh;
    align-content: space-between;
}

.lista:hover {
    color: white;
}

ul {
    list-style-type: none;
}

.footcontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footcontent p {
    color: #3F6443;
    font-weight: bold;
    font-size: 170%;
    margin-right: 15vh;
    text-align: center;
}

@media (max-width: 600px) {
    .footcontent {
        flex-direction: column;
        display: flex;
        flex-wrap: nowrap; 
        align-items: center;
        justify-content: center; 
        gap: 0px;
        margin-left: 0; 
    }
}
/*Footer finish*/

/* The switch - adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 12vh;
    height: 5.1vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7DC284;
    transition: .5s;
    border-radius: 3vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 4vh;
    width: 4vh;
    left: 0.6vh;
    bottom: 0.6vh;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    transform: translateX(6.7vh);
}

.slider.round {
    border-radius: 3vh;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .switch {
        width: 8vh;
        height: 3.4vh;
    }

    .slider {
        border-radius: 2vh;
    }

    .slider:before {
        height: 2.7vh;
        width: 2.7vh;
        left: 0.3vh;
        bottom: 0.3vh;
    }
}