body {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-color: #4B4642;
}

/* Header */
.links {
  text-decoration: none;
  color: #4B4642;
}

.links:hover {
  color:#84997C;
}

.logo {
  text-decoration: none;
  color: #84997C;
  font-size: x-large;
}

/* Footer */
footer {
  background-color: #F4E2E2;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footerHome {
  margin-top: -50rem;
  position: absolute;
}

.line {
  border-bottom: solid;
  border-color: #4B4642;
  width: 90%;
  margin-left: 5%;
  margin-top: 2vh;
}

.footlists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  font-size: small;
  gap: 10vh;
  margin-left: 3%;
  margin-top: 1vh;
}

.lista {
  cursor: pointer;
  text-decoration: none;
  color: #4B4642;
  display: flex;
  flex-direction: column;
  height: 3vh;
  align-content: space-between;
}

.lista:hover {
  color:#84997C;
}

ul {
  list-style-type: none;
}

.footcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footcontent p {
  color: #84997C;
  font-weight: bold;
  font-size: 170%;
  margin-right: 15vh;
  text-align: center;
}

@media (max-width: 37.5rem) {
  .footcontent {
      flex-direction: column;
      display: flex;
      flex-wrap: nowrap; 
      align-items: center;
      justify-content: center; 
      gap: 0rem;
      margin-left: 0; 
  }
}