html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-color: #4B4642;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/assets/fonts/Ultraquick.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

/* Home */

.homebackground {
  background-image: url(/public/assets/images/greentexture.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.homeimage {
  height: auto;
  width: 100%;
  z-index: 0;
}

.homecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homecards {
  height: 55vh;
  width: 53vh;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  margin-top: 8%;
  margin-bottom: 12%;
}

.slogan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slogan h1 {
  position: absolute;
  z-index: 1; 
  font-size: 10vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #84997C;
  text-shadow: 
    0.5px 0.5px 0 #eeeeee,
    -0.5px -0.5px 0 #eeeeee,
    0.5px -0.5px 0 #eeeeee,
    -0.5px 0.5px 0 #eeeeee;
}

/* Header */
.header {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 97%;
  padding-left: 1%;
  z-index: 10;
}

.links {
  text-decoration: none;
  color: #4B4642;
}

.links:hover {
  color:#84997C;
}

.logo {
  text-decoration: none;
  color: #84997C;
  font-size: x-large;
}

/* Footer */
footer {
  background-color: #84997C;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  top: 0;
  margin-top: -1.2%;
}

.line {
  border-bottom: solid 0.2vh;
  border-color: #EEEEEE;
  width: 90%;
  margin-left: 5%;
  padding-top: 2%;
}

.footlists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  font-size: small;
  gap: 10vh;
  margin-left: 3%;
  margin-top: 1vh;
}

.lista {
  cursor: pointer;
  text-decoration: none;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  height: 3vh;
  align-content: space-between;
}

.lista:hover {
  color: #F4E2E2 ;
}

ul {
  list-style-type: none;
}

.footcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footcontent p {
  color: #F4E2E2;
  font-weight: bold;
  font-size: 170%;
  margin-right: 15vh;
  text-align: center;
}

@media (max-width: 37.5rem) {
  .footcontent {
      flex-direction: column;
      display: flex;
      flex-wrap: nowrap; 
      align-items: center;
      justify-content: center; 
      gap: 0rem;
      margin-left: 0; 
  }
}