.myGrid {
  max-width: 900px; 
}

.body-yoga {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.green-div{
  background-color: #B2E1B7;
  width: 74%;
  margin-left: 13%;
  margin-bottom: 5%;
  border-radius: 5vh;
}

.froga-text{
  margin-top: 13vh;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 35vh;
  margin-right: 35vh;
}

.froga-text p{
  margin-top: 10%;
}

.content {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: center; 
}

.header{
  z-index: 1;
  position: fixed;
}

.header p{
  font-size: 140%;
}

.header-right{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-right: 2%;
}

.wisfrog{
  z-index: 1;
  margin-left: 3vh;
  height: 55vh;
  width: auto;
}
.pictures{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40vh;
}
.bubble{
  background-color: white;
  border: 1vh solid;
  border-radius: 6vh;
  border-color: #7DC284;
  width: 70vh;
  height: 35vh;
  margin-top: -23vh;
  margin-left: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5vh;
}
.explain{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 1;
  width: 50vh;
  margin-top: 15vh;
  margin-left: 3.8vh;
}
.title{
  color: #0A5119;
  font-weight: bold;
  font-size: 3vh;
}
.text{
  font-size: 2vh;
}

.about-main {
  height: 1000px;
}

.author-search{
  width: 30%;
  height: 4vh;
  border-radius: 7px;
  border: solid 1px;
}

.search-button{
  background-color: #3F6443;
  height: 5vh;
  width: 17vh;
  border-radius: 1.5vh;
  border: 0.2px solid white;
  align-content: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
}
.search-button:hover{
  background-color: #B2E1B7;
  box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.75);
  text-decoration: none; 
  color: #3F6443;
}

.about-page{
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: -100px ;
}

.about1{
  background-color: #B2E1B7;
  opacity: 70%;
  border-radius: 10vh;
  margin-left: 22%;
  width: 55%;
  text-align: center;
  position: absolute;
  margin-top: 17%;
}

.about1 p{
  margin: 3%;
}

.about2{
  background-color: rgb(125, 194, 132, 0.7);
  height: 50%;
  width: 100%;
  position: absolute;
  margin-top: 50%;
  display: flex;
  justify-content: center;
}

.about-form{
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5vh;
  margin-top: 7%;
}
.about-form p{
  width: 80%;
}
.about-form h1{
  color: #0A5119;
}
.about-form-button{
  background-color: #3F6443;
  height: 5vh;
  width: 23vh;
  border-radius: 1.5vh;
  border: 0.2px solid white;
  align-content: center;
  margin-top: 8%;
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-top: -0.5%;
  margin-bottom: 2%;
}
.about-form-button:hover{
  background-color: #B2E1B7;
  box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.75);
  text-decoration: none; 
  color: #3F6443;
}

.submit-form{
  display: flex;
  justify-content: center;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  width: 75%;
  gap: 2vh;
}

.first-name-input{
  width: 45%;
  border-radius: 7px;
  border: solid 1px;
}

.last-name-input{
  width: 45%;
  border-radius: 7px;
  border: solid 1px;
}
.email-input{
  border-radius: 7px;
  border: solid 1px;
}
.message-input{
  border-radius: 7px;
  border: solid 1px;
  height: 10vh;
}
.message-input::placeholder{
  position: relative;
  top: -20px;
}

.choice-input{
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.choices{
  margin-left: -6vh;
}

.names-input{
  display: flex;
  justify-content: space-between;
}

.yoga-search{
  margin-top: 13vh;
  margin-left: 5vh;
}

.yoga-category{
  color: #0A5119;
  display: flex;
  justify-content: center;
}

.yoga-results-container {
  display: flex;
  flex-wrap: wrap;
}

.yoga-category-item {
  flex: 1 0 45%;
  margin: 1%;
}

.yoga-poses {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.yoga-pose {
  border: 1px solid #0A5119;
  padding: 2%;
  margin-bottom: 1%;
  border-radius: 5vh;
}

@media (max-width: 768px) {
  .yoga-category-item {
    flex: 1 0 calc(100% - 20px); /* One column on smaller screens */
  }
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.light button{
  color: #0A5119;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

.dark p{
  color: white;
}

.dark button{
  color: white;
}

.toggle{
  margin-top: 40%;
}