html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-color: #4B4642;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/assets/fonts/Ultraquick.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

/* Home */

.homebackground {
  background-image: url(/public/assets/images/greentexture.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.homeimage {
  height: auto;
  width: 100%;
  z-index: 0;
}

.homecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homecards {
  height: 55vh;
  width: 53vh;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  margin-top: 8%;
  margin-bottom: 12%;
  border-radius: 3vh;
  position: relative; 
}

.image-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 3vh;
  border-color: #4B4642;
  border: solid 0.05rem;
}

.fitcards {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.ovalhome {
  position: absolute;
  top: 1%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  background-color: #F4E2E2;
  border-radius: 45vh;
  padding: 0.4rem;
  text-align: center; 
  z-index: 1; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.slogan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slogan h1 {
  position: absolute;
  z-index: 1; 
  font-size: 10vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #84997C;
  margin-top: -1vh;
  text-shadow: 
    0.5px 0.5px 0 #eeeeee,
    -0.5px -0.5px 0 #eeeeee,
    0.5px -0.5px 0 #eeeeee,
    -0.5px 0.5px 0 #eeeeee;
}

.gifhome {
  position: absolute;
  display: flex;
  width: 15vh;
  height: 15vh;
  margin-top: 30vh;
  z-index: 1;
  cursor: pointer;
}

/* Questionnaire */
.bodyquestionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/assets/images/texture.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.questionnaire {
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: rgb(244, 226, 226, 0.9);
  width: 70%;
  padding: 2%;
  border-radius: 5vh;
}

.questionnaire p {
  margin-top: 5%;
  color: #4B4642;
}

.agender {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 5%;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* Search */
.searchpage {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* Planner */
.gauge {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;
}

.gauge {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;
}

.productcalendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  align-content: flex-start; 
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  gap: 5%;
  background-color: rgba(244, 226, 226, 0.8);
  padding-top: 6vh;
  margin-bottom: 23vh;
  padding-left: 1vh;
  border-radius: 5vh;
  overflow: hidden;
}

.planner {
  display: flex;
  flex-direction: column; 
  background-image: url(/public/assets/images/plannerbackground.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin-bottom: 0;
}


/* About */
.aboutline {
  border-left: solid 0.3vh;
  border-color: #84997C;
  height: 40vh;
  margin-left: 5%;
  padding-top: 2%;
}

.aboutcontainer1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f7f4f4;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 9%;
  margin-bottom: 6%;
}

.aboutcontainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 8%;
  padding-bottom: 10%;
  background-color: rgb(244, 226, 226, 0.7);
}

.aboutbackground {
  background-image: url(/public/assets/images/texture.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.whoandwhat {
  width: 40%;
}

.maskpicture {
  width: 70vh;
  height: auto;
  border-radius: 5vh;
}

.handpic {
  width: auto;
  height: 45vh;
  border-radius: 5vh;
  margin-right: -6%;
}

.about2{
  background-color: #EEEEEE;
  height: 38.313rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 48rem) {
  .about2 {
    background-color: #EEEEEE;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120%; 
  }
  .about2 h1{
    font-size: 100%;
  }
  .about2 p{
    font-size: 80%;
  }
  .paragraph{
    margin-top: -20%;
    margin-bottom: -20%;
  }
  .about2 label{
    font-size: 80%;
    margin-left: 10%;
  }

  .green-div{
    background-color: #84997C;
    width: 74%;
    margin-left: 13%;
    margin-bottom: 5%;
    border-radius: 5vh;
    margin-bottom: 60%;
  }
}

.about-form{
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5vh;
  margin-top: 5%;
  padding-bottom: 1%;
}
.about-form p{
  width: 80%;
}
.about-form h1{
  color: #84997C;
}

.about-form-button{
  background-color: #84997C;
  height: 5vh;
  width: 23vh;
  border-radius: 1.5vh;
  border: 0.013rem solid #EEEEEE;
  align-content: center;
  margin-top: 8%;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  margin-top: -0.5%;
  margin-bottom: 2%;
}
.about-form-button:hover{
  background-color: #84997C;
  box-shadow: inset 0rem 0.313rem 0.313rem -0.313rem #4B4642;
  text-decoration: none; 
  color: white;
}

.submit-form{
  display: flex;
  justify-content: center;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  width: 75%;
  gap: 2vh;
}

.first-name-input{
  width: 45%;
  border-radius: 0.438rem;
  border: solid 0.063rem;
}

.last-name-input{
  width: 45%;
  border-radius: 0.438rem;
  border: solid 0.063rem;
}
.email-input{
  border-radius: 0.438rem;
  border: solid 0.063rem;
}
.message-input{
  border-radius: 0.438rem;
  border: solid 0.063rem;
  height: 10vh;
}
.message-input::placeholder{
  position: relative;
  top: -1.25rem;
}

.choice-input{
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.choices{
  margin-left: -6vh;
}

.names-input{
  display: flex;
  justify-content: space-between;
}

/* Header */
.header {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 97%;
  padding-left: 1%;
  z-index: 10;
}

.links {
  text-decoration: none;
  color: #4B4642;
}

.links:hover {
  color:#84997C;
}

.logo {
  text-decoration: none;
  color: #84997C;
  font-size: x-large;
}

/* Footer */
footer {
  background-color: #84997C;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  top: 0;
  margin-top: -1.2%;
}

.line {
  border-bottom: solid 0.2vh;
  border-color: #EEEEEE;
  width: 90%;
  margin-left: 5%;
  padding-top: 2%;
}

.footlists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  font-size: small;
  gap: 10vh;
  margin-left: 3%;
  margin-top: 1vh;
}

.lista {
  cursor: pointer;
  text-decoration: none;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  height: 3vh;
  align-content: space-between;
}

.lista:hover {
  color: #F4E2E2 ;
}

ul {
  list-style-type: none;
}

.footcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footcontent p {
  color: #F4E2E2;
  font-weight: bold;
  font-size: 170%;
  margin-right: 15vh;
  text-align: center;
}

@media (max-width: 37.5rem) {
  .footcontent {
      flex-direction: column;
      display: flex;
      flex-wrap: nowrap; 
      align-items: center;
      justify-content: center; 
      gap: 0rem;
      margin-left: 0; 
  }
}